.Hero {
    background-image: url("./../../../../assets//images/header-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media only screen and (max-width:425px) {
    .Hero {
        height: 570px;
    }
}

@media only screen and (max-width:375px) {
    .Hero {
        height: 570px;
    }
}