.Topic-list-item {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin: 0 70px;
}

@media only screen and (max-width:425px) {
    .Topic-list-item  {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
}

.Topic-list-item p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.subTopicName {
    font-size: 16px;
    color: #a5a4a4;

}

.topicName {
    font-size: 23px;
    color: mediumslateblue;
}

.topicText {
    font-size: 16px;
    color: #a5a4a4;
    word-spacing: 3px;    
}